body {
    overflow: hidden;
    height: 1800px;
}

html {
    top: -100px;
    background: url('https://images.unsplash.com/photo-1505205296326-2178af1b47bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') no-repeat center center fixed;
    background-size: cover;
    height: 70%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: 500px;
}

form {
    display: block;
    color: white;
    margin-top: 0px;
    margin-left: 600px;
}

textarea {
    color: white;
    background: transparent;
}

input[type="text"] {
    background: transparent;
    color: white;
}

input[type="email"] {
    background: transparent;
    color: white;
}

input[type="tel"] {
    background: transparent;
    color: white;
}

input[type="date"] {
    background: transparent;
    color: white;
}

label {
    font-family: 'Macondo', cursive;
    font-size: 20px;
    position: relative;
    left: 14px;
}


header {
    margin: auto;
    border: 2px solid black;
    background-image: url('https://images.unsplash.com/photo-1487235829740-e0ac5a286e1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=868&q=80');
    background-size: 1000px;
    padding: 2px;
    background-repeat: repeat;
}


h1 {
    margin: 0px;
    font-size: 40px;
    font-family: 'Macondo', cursive;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;

}

.scene {
    width: 90px;
    height: 90px;
    background: url('./background.jpg') center no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 100px;
    left: 670px;
}

.scene img {
    position: absolute;
}

.star {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: star-rotate 100s linear forwards;
}

.astronaut {
    top: 40px;
    left: 150px;
    width: 40px;
    animation: astronaut-move 20s forwards;
}

.ship {
    top: 20px;
    left: 120px;
    width: 50px;
    transform: scale(0);
    animation: ship-move 15s 3s forwards;
}

.comet {
    top: 60px;
    left: -250px;
    width: 150px;
    animation: comet-move 20s 5s forwards;
}

.moon {
    bottom: -80px;
    right: -115px;
    width: 150px;
}

@keyframes astronaut-move {
    to {
        transform:
            translate(-300px, -150px) rotate(-360deg);
    }
}

@keyframes ship-move {
    25% {
        transform: scale(.5) translate(-170px, -25px);
    }

    50%,
    100% {
        transform: scale(4) translate(250px, 300px);
    }
}

@keyframes star-rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes comet-move {
    to {
        transform:
            translate(500px, -150px);
        filter: hue-rotate(360deg);
    }
}

.btn,
.btn2 {
    width: 120px;
    height: 60px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.btn:hover,
.btn2:hover {
    background-color: white;
    color: black;
    transition: 1s ease;
}

.btn::before,
.btn2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50px;
    background: transparent;
    height: 50%;
    width: 100%;
    transform: perspective(1em)rotateX(48deg)scale(1, 0.35);
    filter: blur(8px);
    transition: 1s ease;
}

.btn:hover::before,
.btn2:hover::before {
    background: white;
    top: 70px;
}

.cards {
    perspective: 500px;
}

.card {
    width: 190px;
    height: 240px;
    background: url('./italia2.png') center no-repeat;
    background-size: cover;
    border: 1px solid white;
    border-radius: 4px;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
    top: -700px;
    left: 279px;
}

.card:hover {
    transform: translateZ(5px) rotateX(5deg) rotateY(5deg);
}

.card-title {
    color: white;
    position: absolute;
    top: 10%;
    right: 10px;
    transform: translateY(-20%);
    transition: transform .5s;
}

.card:hover .card-title {
    transform: translateZ(10px);
}

.card2 {
    width: 150px;
    height: 200px;
    background-color: #333;
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, .5);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    position: relative;
    top: -1200px;
    left: 500px;
}

.card-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
    transition: transform .75s;
}

.card2:hover .card-image {
    transform: scale(1.15);
}

.card2-title {
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 20px;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);

}

.hover-rotate {
    height: 260px;
    width: 260px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 100px;
    position: relative;
    top: -800px;
    left: 339px;

}

.hover-rotate img {
    height: 100%;
    width: 100%;
    transition: 0.3s;
}

.hover-rotate img:hover {
    transform: scale(1.3) rotate(5deg);
}

.hover-title {
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 20px;
}

.base {
    font-family: 'Macondo', cursive;
    font-size: 20px;
    position: relative;
    top: -1200px;
}

.cards3 {
    perspective: 500px;
}

.card3 {
    width: 190px;
    height: 240px;
    background: url('./ferris4.png') center no-repeat;
    background-size: cover;
    border: 1px solid white;
    border-radius: 4px;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
    top: -1700px;
    left: -400px;
}

.card3:hover {
    transform: translateZ(2px) rotateX(2deg) rotateY(2deg);
}

.card3-title {
    color: white;
    position: absolute;
    top: 10%;
    right: 10px;
    transform: translateY(-20%);
    transition: transform .5s;
}

.card3:hover .card3-title {
    transform: translateZ(10px);
}

.card4 {
    width: 150px;
    height: 200px;
    background-color: #333;
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, .5);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    position: relative;
    top: -1600px;
    left: -300px;
}

.card4-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
    transition: transform .75s;
}

.card4:hover .card4-image {
    transform: scale(1.15);
}

.card4-title {
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 20px;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);

}

.hover2-rotate {
    height: 260px;
    width: 260px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 100px;
    position: relative;
    top: -1500px;
    left: -500px;

}

.hover2-rotate img {
    height: 100%;
    width: 100%;
    transition: 0.3s;
}

.hover2-rotate img:hover {
    transform: scale(1.3) rotate(5deg);
}

.hover2-title {
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 20px;
}

@media screen and (max-width:1440px) {}

@media screen and (max-width:1200px) {
    body {
        height: 1644px;
        overflow: hidden;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        width: 15%;
        position: relative;
        left: 34px;
    }

    .scene {
        left: 12px;
    }

    form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    form label {
        position: relative;
        left: -589px;
    }

    .container textarea {
        position: relative;
        left: -589px;

    }

    .container input {
        position: relative;
        left: -589px;
    }

    .temp {
        display: none;
    }

    #options {
        display: none;
    }

    .hover2-rotate {
        width: 50%;
        height: 50%;
        top: -1657px;
        left: -256px;
    }

    .hover2-title {
        left: 10px;
        bottom: 1px;
        font-size: 10px;
    }

    .btn,
    .btn2 {
        margin-bottom: 20px;
        left: -570px;
    }

    .card3 {
        width: 192px;
        height: 217px;
        top: -971px;
        left: -286px;
    }

    .card2 {
        width: 172px;
        height: 212px;
        top: -487px;
        left: -166px;
    }

    .card4 {
        width: 148px;
        height: 205px;
        top: -708px;
        left: -297px;
    }

    .card {
        width: 156px;
        height: 225px;
        top: -1035px;
        left: -215px;
    }

    .base {
        top: -846px;
        left: -100px;
    }

    .hover-rotate {
        display: none;
    }
}

@media screen and (max-width:980px) {
    body {
        height: 1644px;
        overflow: hidden;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        width: 15%;
        position: relative;
        left: 34px;
    }

    .scene {
        left: 12px;
    }

    form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    form label {
        position: relative;
        left: -589px;
    }

    .container textarea {
        position: relative;
        left: -589px;

    }

    .container input {
        position: relative;
        left: -589px;
    }

    .temp {
        display: none;
    }

    #options {
        display: none;
    }

    .hover2-rotate {
        width: 50%;
        height: 50%;
        top: -1601px;
        left: -256px;
    }

    .hover2-title {
        left: 10px;
        bottom: 1px;
        font-size: 10px;
    }

    .btn,
    .btn2 {
        margin-bottom: 20px;
        left: -570px;
    }

    .card3 {
        width: 192px;
        height: 217px;
        top: -971px;
        left: -286px;
    }

    .card2 {
        width: 172px;
        height: 212px;
        top: -487px;
        left: -166px;
    }

    .card4 {
        width: 148px;
        height: 205px;
        top: -708px;
        left: -297px;
    }

    .card {
        width: 156px;
        height: 225px;
        top: -1035px;
        left: -215px;
    }

    .base {
        top: -846px;
        left: -100px;
    }

    .hover-rotate {
        display: none;
    }
}

@media screen and (max-width:615px) {
    body {
        height: 1644px;
        overflow: hidden;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        width: 15%;
        position: relative;
        left: 34px;
    }

    .scene {
        left: 12px;
    }

    form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    form label {
        position: relative;
        left: -589px;
    }

    .container textarea {
        position: relative;
        left: -589px;

    }

    .container input {
        position: relative;
        left: -589px;
    }

    .temp {
        display: none;
    }

    #options {
        display: none;
    }

    .hover2-rotate {
        width: 50%;
        height: 50%;
        top: -253px;
        left: -458px;
    }

    .hover2-title {
        left: 10px;
        bottom: 1px;
        font-size: 10px;
    }

    .btn,
    .btn2 {
        margin-bottom: 20px;
        left: -570px;
    }

    .card3 {
        width: 90px;
        height: 58px;
        top: -377px;
        left: -456px;
    }

    .card2 {
        width: 99px;
        height: 85px;
        top: -90px;
        left: -591px;
    }

    .card4 {
        width: 85px;
        height: 88px;
        top: -325px;
        left: -423px;
    }

    .card {
        width: 79px;
        height: 94px;
        top: -811px;
        left: -476px;
    }

    .base {
        display: none;
    }

    .hover-rotate {
        display: none;
    }
}

@media screen and (max-width:440px) {
    body {
        height: 1644px;
        overflow: hidden;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        width: 15%;
        position: relative;
        left: 34px;
    }

    .scene {
        left: 12px;
    }

    form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    form label {
        position: relative;
        left: -589px;
    }

    .container textarea {
        position: relative;
        left: -589px;

    }

    .container input {
        position: relative;
        left: -589px;
    }

    .temp {
        display: none;
    }

    #options {
        display: none;
    }

    .hover2-rotate {
        width: 50%;
        height: 50%;
        top: -253px;
    }

    .hover2-title {
        left: 10px;
        bottom: 1px;
        font-size: 10px;
    }

    .btn,
    .btn2 {
        margin-bottom: 20px;
        left: -570px;
    }

    .card3 {
        width: 90px;
        height: 58px;
        top: -377px;
        left: -456px;
    }

    .card2 {
        width: 99px;
        height: 85px;
        top: -90px;
        left: -591px;
    }

    .card4 {
        width: 85px;
        height: 88px;
        top: -325px;
        left: -423px;
    }

    .card {
        width: 79px;
        height: 94px;
        top: -811px;
        left: -476px;
    }

    .base {
        display: none;
    }

    .hover-rotate {
        display: none;
    }
}

@media screen and (max-width:360px) {
    body {
        height: 1644px;
        overflow: hidden;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        width: 15%;
        position: relative;
        left: 34px;
    }

    .scene {
        left: 12px;
    }

    form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    form label {
        position: relative;
        left: -589px;
    }

    .container textarea {
        position: relative;
        left: -589px;

    }

    .container input {
        position: relative;
        left: -589px;
    }

    .temp {
        display: none;
    }

    #options {
        display: none;
    }

    .hover2-rotate {
        width: 50%;
        height: 50%;
        top: -253px;
    }

    .hover2-title {
        left: 10px;
        bottom: 1px;
        font-size: 10px;
    }

    .btn,
    .btn2 {
        margin-bottom: 20px;
        left: -570px;
    }

    .card3 {
        width: 90px;
        height: 58px;
        top: -377px;
        left: -456px;
    }

    .card2 {
        width: 99px;
        height: 85px;
        top: -90px;
        left: -591px;
    }

    .card4 {
        width: 85px;
        height: 88px;
        top: -325px;
        left: -423px;
    }

    .card {
        width: 79px;
        height: 94px;
        top: -811px;
        left: -476px;
    }

    .base {
        display: none;
    }

    .hover-rotate {
        display: none;
    }
}

@media screen and (max-width:320px) {
    body {
        height: 1644px;
        overflow: hidden;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        width: 15%;
        position: relative;
        left: 34px;
    }

    .scene {
        left: 12px;
    }

    form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    form label {
        position: relative;
        left: -589px;
    }

    .container textarea {
        position: relative;
        left: -589px;

    }

    .container input {
        position: relative;
        left: -589px;
    }

    .temp {
        display: none;
    }

    #options {
        display: none;
    }

    .hover2-rotate {
        width: 50%;
        height: 50%;
        top: -253px;
    }

    .hover2-title {
        left: 10px;
        bottom: 1px;
        font-size: 10px;
    }

    .btn,
    .btn2 {
        margin-bottom: 20px;
        left: -570px;
    }

    .card3 {
        width: 90px;
        height: 58px;
        top: -377px;
        left: -456px;
    }

    .card2 {
        width: 99px;
        height: 85px;
        top: -90px;
        left: -591px;
    }

    .card4 {
        width: 85px;
        height: 88px;
        top: -325px;
        left: -423px;
    }

    .card {
        width: 79px;
        height: 94px;
        top: -811px;
        left: -476px;
    }

    .base {
        display: none;
    }

    .hover-rotate {
        display: none;
    }
}